/* SHARED STYLES */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

img {
  display: block;
}
.title-tale {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
}

/* header section */
.header {
}

.header-container {
  display: flex;
  gap: 73px;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 237px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-menu-item {
}

.header-menu-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-link-active {
  font-weight: 600;
}

.header-menu-button {
  display: flex;
  gap: 21px;
}

.header-button-item {
}

.header-button {
  display: block;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
}

.sign-up {
  color: #fff;
  background-color: #02897a;
}

/* promo section */
.promo {
}
.plomo-title {
}
.promo-button {
}
.footer {
}
.logo {
}
/* footer section */
.footer-menu-media {
}
.footer-media-items {
}
.footer-subtitle {
}
.footer-menu {
}
.footer-menu-items {
}
.footer-text {
}
.footer-button {
}
.footer-rights {
}
/* PRODUCT MAIN PAGE STYLES */
/* hero section */
.hero-container {
  display: flex;
  align-items: center;
  gap: 8px;
  max-width: 1110px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.hero-content {
  max-width: 465px;
}

.hero {
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  margin-bottom: 45px;
}

.hero-button {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero-button-started {
  display: block;
  background-color: #02897a;
  text-align: center;
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 15px 42px;
}

.hero-link-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}

.hero-icon {
  fill: #02897a;
}

/* features section */
.features {
}

.features-container {
  margin-top: 100px;
}

.features-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  width: 539px;
  margin: 0 auto;
}

.features-menu {
  display: flex;
  align-items: center;
  max-width: 1110px;
  margin: 50px auto;
  gap: 30px;
}

.features-menu-item {
}

.features-menu-container {
  max-width: 255px;
}

.features-menu-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 18px;
  margin-bottom: 13px;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.features-button {
  display: block;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  padding: 15px 32px;
  margin: 50px auto;
}

/* management section */
.management {
}

.management-container {
  display: flex;
  align-items: center;
  gap: 84px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.management-text-container {
}

.management-title,
.management-text,
.management-subtitle {
  font-size: 16px;
  color: #22343d;
}

.management-title {
  font-weight: 600;
  max-width: 224px;
  margin-bottom: 25px;
}

.management-text {
  font-weight: 400;
  line-height: 1.63;
}

.management-subtitle {
  font-weight: 600;
  line-height: 1.63;
  margin-bottom: 12px;
  margin-top: 25px;
}

/* support section */
.support {
}

.support-container {
  display: flex;
  align-items: center;
  gap: 84px;
  margin: 0 auto;
}

.support-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 25px;
}

.support-menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  max-width: 437px;
  margin-bottom: 30px;
}

.suport-menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.support-menu-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.support-menu-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  max-width: 385px;
}

/* collaboration section */
.collaboration {
}
.collaboration-title {
}
.collaboration-text {
}
.collaboration-subtitle {
}
/* staff section */
.staff {
}
.staff-title {
}
.staff-text {
}
.staff-menu {
}
.staff-menu-item {
}
.staff-button {
}
/* news section */
.news {
}
.news-title {
}
.news-text {
}
.news-menu {
}
.news-menu-item {
}
.news-subtitle {
}
/* pricing section */
.pricing {
}
.pricing-title {
}
.pricing-text {
}
.pricing-menu {
}
.pricing-menu-items {
}
.pricing-menu-subtitle {
}
.pricing-digits {
}
.pricing-signs {
}
.pricing-digits-text {
}
.pricing-submenu {
}
.pricing-submenu-item {
}
.pricing-submenu-text {
}
.pricing-button {
}
/* feedback section */
.feedback {
}
.feedback-title {
}
.feedback-text {
}
.feedback-menu {
}
.feedback-menu-item {
}
.feedback-menu-text {
}
.feedback-subtitle {
}
.feedback-profesion {
}
/* PRICING PAGE STYLES */
/* pricing section */
.pricing-var {
}
.pricing-vartitle {
}
.pricing-varsubtitle {
}
.pricing-vartext {
}
.pricing-submenu {
}
.pricing-submenu-item {
}
.pricing-submenu-text {
}
.pricing-button {
}
.pricing-menu-items {
}
.pricing-menu-subtitle {
}
.pricing-text {
}
.pricing-digits {
}
.pricing-signs {
}
.pricing-digits-text {
}
/* consult section */
.consult {
}
.consult-subtitle {
}
.consult-title {
}
.consult-text {
}
.consult-button {
}
/* audience section */
.audience {
}
.audience-title {
}
.audience-menu {
}
.audience-menu-item {
}
.audience-subtitle {
}
.audience-menu-text {
}
/* faq-section */
.faq {
}
.faq-title {
}
.faq-text {
}
.faq-menu {
}
.faq-menu-item {
}
.faq-subtitle {
}
.faq-menu-text {
}
/* CUSTOMERS PAGE STYLES */
/* clients section */
.clients {
}
.clients-title {
}
.clients-menu {
}
.clients-menu-item {
}
/* benefits section */
.benefits {
}
.benefits-title {
}
.benefits-menu {
}
.benefits-menu-items {
}
.benefits-subtitle {
}
.benefits-menu-text {
}
/* process section */
.process {
}
.process-title {
}
.process-menu {
}
.process-menu-item {
}
.process-menu-step {
}
.process-subtitle {
}
.process-item-text {
}
.process-button {
}
/* join section */
.join {
}
.join-title {
}
.join-menu {
}
.join-menu-item {
}
.join-subtitle {
}
.join-submenu {
}
.join-submenu-item {
}
.join-menu-text {
}
/* RESOURCES PAGE STYLES*/
/* intro section */
.intro {
}
.intro-title {
}
.intro-up-text {
}
.intro-button {
}
.intro-down-text {
}
/* stories section */
.stories {
}
.stories-title {
}
.stories-text {
}
.stories-menu {
}
.stories-menu-item {
}
.stories-date-text {
}
.stories-menu-subtitle {
}
.stories-downtext {
}
/* conection section */
.conection {
}
.conection-title {
}
.conection-text {
}
.conection-menu {
}
.conection-menu-item {
}
.conection-subtitle {
}
.conection-button {
}
